body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper-menu {
    background-color: #1a1463;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.menu-separator {
    width: 2px;
    height: 24px;
    background-color: #fff;
    margin: 0 15px;
}

.login-register {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.login-register a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: 20px;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #1a1463; 
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #1a1463;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #000;
}
